<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
<display-name>FinalJspProject</display-name>
<welcome-file-list>
<welcome-file>index.html</welcome-file>
<welcome-file>index.htm</welcome-file>
<welcome-file>index.jsp</welcome-file>
<welcome-file>default.html</welcome-file>
<welcome-file>default.htm</welcome-file>
<welcome-file>default.jsp</welcome-file>
</welcome-file-list>
<servlet>
<description/>
<display-name>CommonActionBean</display-name>
<servlet-name>CommonActionBean</servlet-name>
<servlet-class>beans.action.CommonActionBean</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CommonActionBean</servlet-name>
<url-pattern>/CommonActionBean</url-pattern>
</servlet-mapping>
<servlet>
<description/>
<display-name>CommonController</display-name>
<servlet-name>CommonController</servlet-name>
<servlet-class>controller.CommonController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CommonController</servlet-name>
<url-pattern>/CommonController</url-pattern>
</servlet-mapping>
</web-app>